*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dda15e;
    display: flex;
    height: 100vh;
}
#main{
    margin: auto;
    background-color: #606c38;
    width: 50rem;
    height: 30rem;
    border-radius: 16px;
}