@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dda15e;
    display: flex;
    height: 100vh;
    font-family: 'Poppins';
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: #606c38;
    padding: 1rem;
    width: 50rem;
    height: 30rem;
    min-height: max-content;
    max-width: 100%;
    border-radius: 16px;
    box-shadow: 1px 1px 0px 0px #283618;
    padding: 2rem;
}
.fa-plus{
    color: #bc6c25;
}
.addIcon{
    background-color: #fefae0;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1.4rem;
    width: .1rem;
    border-radius: 100%;
}
.addIcon:hover{
    background-color: #283618;
    cursor: pointer;
}
#navigation{
    display: flex;
    gap: 3rem;
    padding: 12px;
    margin-top: 2rem;
    font-size: 1.3rem;
    color: #fefae0;
}
a{
    color: #fefae0;
    text-decoration: none;
}
.view-list{
    background-color: #4a5428ae;
    padding: 12px;
    border-radius: 16px;
    cursor: pointer;
}
.active{
    background-color: #dda15e;
}
.no-show{
    display: none;
}
#content{
    width: 27rem;
}

/* CONTENT PART OF ADDING THE TASKS */

#tarefas{
    margin-top: 1rem;
    background-color: #fefae0;
    border-radius: 16px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: inherit;
}
.fa-trash:hover{
    color: red;
    cursor: pointer;
}
.fa-solid.fa-circle-check{
    color: green;
}
.fa-circle-check:hover{
    cursor: pointer;
}
.hide-fa{
    display: none;
}

/* Modal style */
.modal-container{
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 16px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
}
.modal-container.show{
    opacity: 1;
    pointer-events: auto;
}
.modal{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fefae0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 16px;
    height: 30vh;
    padding: 16px;
    width: 600px;
    max-width: 100%;
}
#close-modal{
    margin-left:95%;
    text-align: center;
}
label{
    display: block;
    text-align: center;
    color: #283618;
}
#taskform{
    margin: auto;
}
#taskform input[type="text"]{
    margin-top: 2rem;
    display: block;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: #fefae0;
    border-bottom: 1px solid #dda15e;
    outline: 0;
    font-size: large;
    width: 100%;
    color: #283618;
}
#submit-task{
    border-radius: 12px;
    width: 100%;
    height: 2em;
    outline: 0;
    border: 0;
    text-align: center;
    padding: 5px;
    margin-top: 1rem;
    background-color: #283618;
    color: #dda15e;
    cursor: pointer;
    font-size: large;
}
#submit-task:hover{
    opacity: .9;
}
.fa-xmark:hover{
    color: red;
    cursor: pointer;
}

@media (max-width: 600px){
    .view-list{
        height: fit-content;
    }
    
}