*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dda15e;
    display: flex;
    height: 100vh;
}
#main{
    margin: auto;
    background-color: #606c38;
    width: 50rem;
    height: 30rem;
    border-radius: 16px;
    box-shadow: 1px 1px 0px 0px #283618;
    padding: 2rem;
}
.fa-plus{
    color: #bc6c25;
}